<tbody><tr>
    <th width="16.6%" valign="top" align="center">
        <img src="images/logo/google.jpeg" alt="sym" width="80%">
        <p style="line-height:1.3; font-size:12pt">Google<br>ML Engineer<br>Jun. 24 - Present</p>
    </th>

    <th width="16.6%" valign="top" align="center">
        <img src="images/logo/ailabs.png" alt="sym" width="60%">
        <p style="line-height:1.3; font-size:12pt">Taiwan AILabs<br>ML Engineer<br>Aug. 21 - Apr. 24</p>
    </th>

    <th width="16.6%" valign="top" align="center">
        <img src="images/logo/mediatek.jpg" alt="sym" width="60%">
        <p style="line-height:1.3; font-size:12pt">MediaTek, Taiwan<br>Research Intern<br>Feb. 20 - Mar. 21</p>
    </th>

    <th width="16.6%" valign="top" align="center">
        <img src="images/logo/nthu.png" alt="sym" width="60%">
        <p style="line-height:1.3; font-size:12pt">NTHU<br>M.Sc.<br>Feb. 2018 - Aug. 2020</p>
    </th>

    <th width="16.6%" valign="top" align="center">
        <img src="images/logo/atos.png" alt="sym" width="80%">
        <p style="line-height:1.3; font-size:12pt">Atos<br>Onsite Engineer<br>Jul. 17 - Aug. 17</p>
    </th>

    <th width="16.6%" valign="top" align="center">
        <img src="images/logo/nctu.png" alt="sym" width="60%">
        <p style="line-height:1.3; font-size:12pt">NCTU<br>B.Sc.<br>Sep. 13 - Jun. 17</p>
    </th>
</tr>
</tbody>