{{ if .Site.Data.homepage.publication.enable }}
<section id="publication" class="section rad-animation-group">
    <div class="container"> 
        <h2 style="font-size: 2rem;">{{ .Site.Data.homepage.publication.title }}</h2>
        <div class="col pt-2 pt-md-4">
            {{ $xp := (where .Site.RegularPages.ByDate.Reverse "Type" "publication") }}
            {{ $totalCount := 10}}    
            {{ $totalCount = len $xp }}
            {{ range first $totalCount $xp }}
                <div class="row">
                <td width="50%" valign="top">
                    {{ partial "img_publication.html" . }}
                </td>
                <div class="col-12 d-block mx-auto cold-md-12 col-sm-6 mt-5 mt-sm-0">
                    {{if .Params.direct_link}}
                        <a href="{{ .Params.link }}">
                        <div class="experience__title" style="font-size: 1.2rem;">{{ .Params.title }}</div>                        
                        </a>
                    {{ else }}
                        <a href="{{ .Site.BaseURL }}{{.Params.link}}">
                        <div class="experience__title" style="font-size: 1.2rem;">{{ .Params.title }}</div>                        
                        </a>
                    {{end}}
                    <div class="experience__authors">{{ .Params.authors | safeHTML }}</div>
                    <div class="experience__venue">{{ .Params.venue | safeHTML  }}</div>
                    {{ range .Params.list_Links }}
                    <a href="{{ .URL | absURL }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .icon }}">
                        <img src={{ .icon }} | relURL }} alt="{{ .icon }}" width="24" height="24">
                        <span>[{{ .label }}]</span>
                    </a>
                    {{ end }}               
                </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}